.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    background-color: #ffe2fb;
}

.navbar .logo{
    width: max(10%,80px);
    font-family: 'Lilita One', sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: #6F1E51; /* Ensure color is correctly applied */
}

.navbar .profile{
    width: 40px;
}