.product-display{
    margin-top: 30px;
}

.product-display h2{
    font-size: max(1.6vw,24px);
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.product-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}